.wrap {
  height: 200px;
  width: 200px;
}
.rotate {
  animation: rotate 1.6s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

svg {
  height: 200px;
  width: 200px;
}

.circular {
  animation: circleshow 1.6s ease-in-out infinite;
}

@keyframes circleshow {
  0% {
    stroke-dasharray: 10, 510;
  }
  50% {
    stroke-dasharray: 170, 510;
  }
  100% {
    stroke-dasharray: 170, 510;
    stroke-dashoffset: -510;
  }
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

line {
  animation: lineshow 1.6s ease-in-out infinite;
}

@keyframes lineshow {
  0% {
    stroke-dasharray: 10, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dasharray: 200, 200;
    stroke-dashoffset: -200;
  }
}

polyline {
  animation: polyshow 1.6s ease-in-out infinite;
}

@keyframes polyshow {
  0% {
    stroke-dasharray: 180, 200;
    stroke-dashoffset: 50;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 100;
  }
}
